* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-eye-slash,
.fa-eye {
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;
}

.loading {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.loading img {
  z-index: 1000;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.rounded-circle {
  cursor: pointer;
}

.uploadInput {
  display: none;
}
